@model List<Portfolio>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>Son Projelerime Göz Atın</h1>

            <p class="lead">Burada, web geliştirme, tasarım ve yazılım alanlarında gerçekleştirdiğim projeleri bulabilirsiniz. Yaratıcı süreçlerimde, yenilikçi çözümler üretmeye odaklandım ve her projeye özgünlük kattım. Daha fazla keşfetmek için portföyümü inceleyin!.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/ej2iv9i.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                            <img src="https://i.hizliresim.com/ej2iv9i.png"
                                 srcset="https://i.hizliresim.com/ej2iv9i.png" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            MVC PORTFOLİO
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- MVC PORTFOLİO -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/o7a7hf5.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="https://i.hizliresim.com/o7a7hf5.png"
                                     srcset="https://i.hizliresim.com/o7a7hf5.png alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                MVC STOK TAKİP
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>



                    </div> <!-- MVC STOK -->

                    <div class="masonry__brick">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="https://i.hizliresim.com/gyhlryy.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="https://i.hizliresim.com/gyhlryy.png"
                                         srcset="https://i.hizliresim.com/gyhlryy.png alt="">
                                    <span class="shadow-overlay"></span>
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    FİNANSAL CRM
                                </h3>
                                <p class="item-folio__cat">
                                    WİNDOWS FORM APPLİCATİON
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="im im-link"></i>
                            </a>



                        </div> <!-- MVC STOK -->
                    </div>
                </div>
            </div>
        </div>
</section> 